@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
















.conditions {

  &__section {
    margin-bottom: 120px;
  }

  &__title {
    @extend %rubik-bold;
    font-size: 24px;
    line-height: 40px;
    color: $about__color;
  }

  &__item:not(last-child) {
    margin-bottom: 70px;
  }

  &__items {
    display: flex;
    margin-top: 25px;
  }

  &__number {
    @extend %rubik-bold;
    color: $about__color;
    line-height: 30px;
    margin-right: 10px;
  }

  &__text {
    @extend %rubik-regular;
    color: $about__color;
    line-height: 30px;
  }
}

.log {
  &__form {
    width: 570px;
    margin: 0 auto;
    padding: 0 50px;
    @extend %rubik-bold;
    font-size: 14px;
  }

  &__label {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }

  &__input {
    width: 475px;
    height: 40px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #f0eaea;
  }

  &__button {
    width: 100%;
    text-align: center;
    background-color: #a3bbc8;
    padding: 22px 0;
    @extend %rubik-medium;
    font-size: 18px;
    color: #fff;
    margin-bottom: 30px;
    border: 2px solid transparent;

    &:hover {
      background-color: transparent;
      border: 2px solid #a3bbc8;
      color: $about__color;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 65px;
  }

  &__label--checkbox,
  &__error {
    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__text {
    text-align: center;
    @extend %rubik-medium;
    margin-bottom: 25px;
  }

  &__button-2 {
    width: 100%;
    text-align: center;
    border: 2px solid #a3bbc8;
    padding: 22px 0;
    @extend %rubik-medium;
    font-size: 18px;
    color: $about__color;

    &:hover {
      background-color: #a3bbc8;
      color: #fff;
      border: 2px solid transparent;
    }

    &:active {
      opacity: 0.5;
    }
  }
}



.detalis {

  &__item {
    display: flex;
  }

  &__box1 {
    width: 140px;
    margin-right: 25px;
  }

  &__box {
    width: 390px;
  }

  &__slide {
    width: 550px;
  }

  &__info {
    width: 550px;
  }

  &__min-images {
    width: 140px;
    height: 170px;

    display: inline;
    border: 1px solid #edf1f4;
    margin-bottom: 25px;

    img {
      object-fit: cover;
    }
  }

  &__big-images {
    width: 380px;
    height: 540px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #edf1f4;

    img {
      object-fit: cover;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 26px;
    @extend %rubik-regular;
    color: black;
    margin-bottom: 25px;
  }

  &__star {
    padding: 0;
    margin-bottom: 25px;
  }

  &__number {
    font-size: 30px;
    line-height: 26px;
    @extend %rubik-regular;
    color: black;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $about__color;
    @extend %rubik-regular;
    margin-bottom: 25px;
  }

  &__btn {
    margin-left: 15px;
    padding: 12px 40px;
    @extend %btn
  }

  &__subtext {
    font-size: 16px;
    line-height: 30px;
    color: $about__color;
    @extend %rubik-regular;
  }

  &__subtext1 {
    margin-top: 55px;
  }

  &__down {
    &-inner {
      display: flex;
      justify-content: center;
      margin: 0 auto;
    }

    &-box {
      display: flex;
      justify-content: space-between;
      width: 700px;
      margin-bottom: 25px;
    }

    &-btn {

      @extend %rubik-medium;
      font-size: 18px;
      line-height: 40px;
      color: $about__color;
      align-items: center;
      display: flex;
      text-transform: uppercase;

      &--active {
        @extend %btn;
        color: #fff;
      }
    }

    &-text__box {
      @extend %rubik-regular;
      font-size: 16px;
      line-height: 30px;
      color: $about__color;
      display: none;

      &--active {
        display: block;
      }
    }
  }
}


.related {

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $about__color;
    text-align: start;
    margin-bottom: 50px;
    margin-top: 0;
  }

  &__btn {
    border: 1px solid #edf1f4;
    border-radius: 5px;
    width: 50px;
    height: 50px;

    &-right {
      background-image: url('../images/icons/arrow-right.svg');
      width: 22px;
      height: 9px;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &-left {
      background-image: url('../images/icons/arrow-left.svg');
      width: 22px;
      height: 9px;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
    }

    &--active {
      border-color: #a3bbc8;
    }
  }

  &__list {
    margin: 0;
  }


  &-product {
    bottom: 15px;
  }
}

.jq-number__field input {
  width: 100%;
  width: 50px;
  height: 50px;
  padding: 17px 10px;
  border: none;
  outline: none;
  background: none;
  @extend %rubik-regular;
  color: #5c5c5c;
  text-align: center;
  box-shadow: none;
  border-radius: none;
  background-color: transparent;
  box-shadow: transparent;
}

.jq-number__field {
  width: 100px;
  width: 50px;
  height: 50px;
  border: 1px solid #a3bbc8;
  border-bottom-color: #a3bbc8;
  border-radius: 0;
  box-shadow: transparent;
}


.jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0px 50px;
}

.jq-number__spin.minus {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: 50%;
  left: 0;
  transform: translateY(50%);
  border: 1px solid #a3bbc8;
  border-bottom-color: #a3bbc8;
  border-radius: 0;
  box-shadow: transparent;
  border-right: transparent;

  &:hover {
    border: 1px solid #a3bbc8;
    border-right: transparent;
    background: transparent;
    box-shadow: none;
  }
}





.jq-number__spin.plus {
  width: 50px;
  height: 50px;
  top: auto;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  border: 1px solid #a3bbc8;
  border-bottom-color: #a3bbc8;
  border-radius: 0;
  box-shadow: transparent;
  border-left: transparent;

  &:hover {
    border: 1px solid #a3bbc8;
    border-left: transparent;
    background: transparent;
    box-shadow: none;
  }
}

.jq-number__spin.minus::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 20px;
  border: none;
  width: 9px;
  height: 1px;
  background-color: black;
}

.jq-number__spin.plus::after {
  content: '';
  position: absolute;
  top: 23px;
  left: 20px;
  border: none;
  width: 9px;
  height: 1px;
  background-color: black;
}

.jq-number__spin.plus::before {
  content: "";
  position: absolute;
  border: none;
  width: 1px;
  height: 8px;
  background-color: #000;
  top: 20px;
  left: 24px;
}

.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none;
  cursor: pointer;

  &:hover {
    border: none;
    background: transparent;
    box-shadow: none;
  }
}



.contact {

  &__title {
    margin: 0 auto;
    @extend %rubik-regular;
    line-height: 20px;
    color: #a3bbc8;
    text-align: center;
    margin-bottom: 75px;

    span {
      font-size: 35px;
      line-height: 57px;
      color: $about__color;

    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    padding: 70px 0;
    border: 1px solid transparent;
    text-align: center;
    width: 370px;
    height: 380px;
    transition: all .5s;
    margin-bottom: 100px;

    &:hover {
      border: 1px solid #a3bbc8;
    }
  }

  &__box-svg {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 65px;
    transition: all .5s;

    &:hover {
      background-color: #a3bbc8;
      border-radius: 15px;

      path {
        fill: #fff;
      }
    }
  }

  &__box {

    &-title {
      @extend %rubik-regular;
      font-size: 20px;
      line-height: 20px;
      color: black;
      margin-bottom: 25px;
    }

    &-info {
      @extend %rubik-regular;
      line-height: 30px;
      color: #565872;
    }
  }

  &__down-form {
    width: 600px;
  }

  &__input,
  &__textarea {
    border: transparent;
    background-position-x: 575px;
  }

  &__input-name,
  &__input-email {
    background-position: 275px;
  }
}





@import 'media';