<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="css/about.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main>

    {% include 'app/module/_breadcrumbs/_breadcrumbs.html' %}

    {% include 'app/module/_about-page/_about-page.html' %}

    {% include 'app/module/_delivery/_delivery.html' %}

    {% include 'app/module/_team/_team.html' %}

    {% include 'app/module/_articles/_articles.html' %}

  </main>




  {% include 'app/module/_footer/_footer.html' %}

</body>

</html>