<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
  <title>Detalis</title>
  <link rel="stylesheet" href="css/detalis.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main>

    {% include 'app/module/_breadcrumbs/_breadcrumbs.html' %}

    {% include 'app/module/_detalis/_detalis.html' %}

    {% include 'app/module/_related/_related.html' %}

    {% include 'app/module/_articles/_articles.html' %}

  </main>


  {% include 'app/module/_footer/_footer.html' %}

  <script src="jquery"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="js/main.min.js"></script>

</body>

</html>