<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Furnitures</title>
  <link rel="stylesheet" href="css/index.min.css">
</head>

<body>

  <p class="main__text"  >Большое спасибо за этот курс! Я его делал очень долго но все таки закончил. Уже сейчас я нашел себе подработку в области верстки, и начал зарабатывать свои первые деньги. Я очень вам благодарен! <br>
    На счет кое каких моих косяков: шрифты не те, потому что я не нашел их в Google Fonts, и решил что их нельзя найти, но на середине проекта я понял что их можно было найти просто в интеренете, но решил что уже поздно их менять. Так же нету карты, но ты сам мне разрешил ее не добaвлять. А так впринципе остальные косяки это мелочи. <br>

    Желаю всего самого хорошего вам, а так же Олексею который помогал мне даже когда закончились 2 месяца. Спасибо!
  </p>

  {% include 'app/module/_header/_header.html' %}

  <main>
    {% include 'app/module/_slider/_slider.html' %}

   {% include 'app/module/_product/_product.html' %}
    
    {% include 'app/module/_video/_video.html' %}
    
    {% include 'app/module/_articles/_articles.html' %}
    
  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="jquery"></script>
  <script src="js/main.min.js"></script>
</body>

</html>