.partners {
  margin: 90px 0;

  &__box {
    width: 1170px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .partners__box {
    width: auto;

    img {
      background-size: contain;
    }
  }
}

@media (max-width: 768px) {
  .partners {
    &__box {
      flex-direction: column;

      img {
        margin-bottom: 50px;
      }
    }
  }
}