.filter-price__from {
  padding-right: 145px;
}

@media (max-width: 1200px) {
  .filter .filter__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 992px) {

  .price,
  .recent {
    display: none;
  }
}

@media (max-width: 768px) {
  .filter .filter__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 576px) {
  .filter__inner {
    display: none;
  }

  .pagination {
    margin: 0;
  }

    .filter__content {
      margin: 0;
    }
}